<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>A bit broken Django-app</title>
    </head>


    <body>
		<h1>Your account</h1>

        <table>
		<tr>
		<th style="text-align:left">Username: <td>{{user.username}} 
		<tr>
		<th style="text-align:left">Balance:  <td>{{user.account.balance}}
		<tr>
		<th style="text-align:left">Message:  <td>{{user.account.message}}
		</table>


        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
		
        <h2>Transfer money</h2>

        <form id='transfer' action='transfer/' method="GET">             <span>To:</span><br/>
            <select name="to">
			{% for account in accounts %}
                <option value="{{account.user.username}}">{{account.user.username}}</option>
			{% endfor %}
            </select><br/>

            <span>Amount:</span><br/>
            <input type="text" name="amount"/><br/>

            <input type="submit" value="Transfer"/>
        </form>

        <h2>Send message</h2>

        <form id='message' action='message/' method="POST">             <span>To:</span><br/>
            <select name="to">
			{% for account in accounts %}
                <option value="{{account.user.username}}">{{account.user.username}}</option>
			{% endfor %}
            </select><br/>

            <span>Message:</span><br/>
            <textarea name="message"/>a text</textarea><br/>

            <input type="submit" value="Send Message"/>
        </form>    

        <h2>Store secret data (we'll encrypt it we swear and we won't f.ex. log it anywhere)</h2>

        <form id='secrets' action='secrets/' method="POST">             
            <span>Give us some secret info, like your mom's maiden name plz:</span><br/>
            <textarea name="secret"/>here be secrets</textarea><br/>

            <input type="submit" value="Save secret info"/>
        </form>   
    </body>
</html>
